html {
    font-family: arial;
    font-size: 32px;
}

body {
    margin: 0;
    min-height: 100vh;

    background-color: #49495D;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 80%;
    display: flex;
}

#search {
    flex: 2;
}

#recommendations {
    flex: 3;
}

#input {
    border: none;
    padding: 0.4em;
    font: inherit;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
}


#searches {
    padding: 0.4em;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    min-height: 60vh;
}

#tracks {
    padding: 0.4em;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    min-height: 70vh;
}


